$tooth-width: 2.1556mm;
$tooth-height: 7.0936mm;

* {
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
}

div, span, textarea, ul, li, span, label {
  box-sizing: border-box;
}

.capitalize {
  text-transform: capitalize;
}

.attr-field {
  input {
    border-style: none none solid none;
  }
}

svg {
  .tooth-full {
    fill: none;
    stroke-width: .17639;
    stroke: #000;
  }

  .tooth-top {
    stroke-width:.17639;
    stroke: #000;
  }
}

.tooth{
  display: inline-block;
  input {
    opacity: 0;
    width: $tooth-width;
    height: $tooth-height;
    margin: 0;
    display: block;

    + label {
      cursor: pointer;
    }

    &:checked {
      + label {
        .tooth-full {
          fill: red;
        }
      }
    }
  }
}
